<h1 class="text-dark">Cifras totales en Colombia</h1>

<div class="row p-4">
    <div class="col-md-6">
        <div class="card bg-warning">
            <div class="card-body">
                <h5 class="card-title">{{ totalConfirmados }}</h5>
                <p class="card-text">Casos Confirmados</p>
                <a href="#" class="card-link">Ver mapa interactivo -></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-info">
            <div class="card-body">
                <h5 class="card-title">{{ totalMuertes }}</h5>
                <p class="card-text">Muertes</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-info">
            <div class="card-body">
                <h5 class="card-title">{{ totalRecuperados }}</h5>
                <p class="card-text">Recuperados</p>
            </div>
        </div>
    </div>
</div>